<section class="b-page-image">
    <div class="container-fluid">
      <h1 class="b-title text-center">Image Gallery Design</h1>
      <div class="gallery">
        <a href="/src/images/eat-item-1.png" data-lightbox="mygallery" data-title="Eat Dinner Chinese"><img src="/src/images/eat-item-1.png" alt=""></a>
        <a href="/src/images/eat-item-5.png" data-lightbox="mygallery" data-title="Eat Dinner Japanese"><img src="/src/images/eat-item-5.png" alt=""></a>
        <a href="/src/images/eat-item-2.png" data-lightbox="mygallery" data-title="Eat Dinner Vietnamese"><img src="/src/images/eat-item-2.png" alt=""></a>
        <a href="/src/images/eat-item-3.png" data-lightbox="mygallery" data-title="Eat Dinner Singapore"><img src="/src/images/eat-item-3.png" alt=""></a>
        <a href="/src/images/eat-item-4.png" data-lightbox="mygallery" data-title="Eat Dinner USA"><img src="/src/images/eat-item-4.png" alt=""></a>
        <a href="/src/images/eat-item-6.png" data-lightbox="mygallery" data-title="Eat Dinner Italian"><img src="/src/images/eat-item-6.png" alt=""></a>
        <a href="/src/images/eat-item-5.png" data-lightbox="mygallery" data-title="Eat Dinner France"><img src="/src/images/eat-item-5.png" alt=""></a>
        <a href="/src/images/eat-item-10.png" data-lightbox="mygallery" data-title="Eat Dinner Spain"><img src="/src/images/eat-item-10.png" alt=""></a>
        <a href="/src/images/eat-item-2.png" data-lightbox="mygallery" data-title="Eat Dinner Portugal"><img src="/src/images/eat-item-2.png" alt=""></a>
        <a href="/src/images/eat-item-1.png" data-lightbox="mygallery" data-title="Eat Dinner England"><img src="/src/images/eat-item-1.png" alt=""></a>
      </div>
    </div>
</section>